.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1rem + (7) * ((100vw - 5em) / (45)));
  padding-right: calc(1rem + (7) * ((100vw - 5rem) / (45)));
}

.searcharea {
  background-image: url(./background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 -23vh;
  overflow: hidden;
  padding-bottom: 2rem;
  border-radius: 0 0 0 0;
  color: #3d405b;
}
