.result {
  width: 15vw;
  min-width: 250px;
  margin-top: 4rem;
}

li {
  list-style: none;
  display: block;
}

.result__list {
  text-decoration: none;
  margin: 0 0 1rem 0.9rem;
  padding: 0;
}

p span {
  display: block;
  margin: 0 0 1rem 0.9rem;
}

p {
  margin: 0.3rem 0;
}

.notfound {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.loader {
  margin-top: 2rem;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #616594;
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
  animation: spin 1s ease-in-out reverse;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
