body {
  margin: 0;
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Inter', sans-serif;
  font-size: 1.15em;
  color: #222222;
}

h1 {
  font-size: 3rem;
  margin-left: 1em;
  color: #3d405b;
}
